
<div id="wrapper">


<div *ngIf="currentUser.role === Role.PROVIDER"><app-menu-provider></app-menu-provider></div>
<div *ngIf="currentUser.role === Role.ADMIN"><app-menu-dash></app-menu-dash></div>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
     <app-topbar></app-topbar>
      <!-- Begin Page Content -->
      <div class="container-fluid">


        <!-- Page Heading -->

<!--<h1 align="center" class="display-4 "> Products</h1>-->
<!--<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Photo</th>
        <th scope="col">Nom</th>
        <th scope="col">Référence</th>
        <th scope="col">Marque</th>
        <th scope="col">Catégorie</th>
        <th  *ngIf="currentUser.role==Role.ADMIN" scope="col">Bloquer</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productInfo of products">
      <input hidden  type="text"
             (change)="getImage(productInfo.images)">
        <th class="align-middle" scope="row">
         &lt;!&ndash;<img height="100px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">&ndash;&gt;
              <div *ngIf=retrievedImage>
                <img height="100px" [src]="retrievedImage">
              </div>

        </th>
        <td class="align-middle">{{productInfo.name}}</td>
        <td class="align-middle">{{productInfo.reference}}</td>
      <td class="align-middle">{{productInfo.marque}}</td>
      <td class="align-middle">{{productInfo.speciality.name}}</td>
        <td  *ngIf="currentUser.role==Role.ADMIN"  class="align-middle">{{productInfo.blocked}}</td>
        <td class="align-middle">
             <a [routerLink]="['/product',productInfo.id]">Editer </a>
      &lt;!&ndash;  <a style="display: block"  routerLink="/product/{{productInfo.id}}">
                       <a style="display: block" routerLink="/product/edit" > Editer
                       </a>&ndash;&gt;

               <a  *ngIf="currentUser.role == Role.PROVIDER" style="display: block" data-toggle="modal"
                   data-target="#exampleModal" >Modifier</a>
  &lt;!&ndash;               <input hidden  type="text" productAdd=productInfo&ndash;&gt;>
                 <a *ngIf="currentUser.role == Role.PROVIDER" style="display: block"
                    (click)="remove(productInfo.id)" routerLink="./">Supprimer</a>
        </td>
    </tr>

         </tbody>
     </table>-->

        <!-- DataTales Example -->
     <!--   <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="100">
                <thead>
                <tr>
                  <th>Photo</th>
                  <th >Nom</th>
                  <th>Référence</th>
                  <th>Marque</th>
                  <th>Catégorie</th>
                  <th  *ngIf="currentUser.role==Role.ADMIN">Bloquer</th>
                  <th >Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Photo</th>
                  <th>Nom</th>
                  <th>Référence</th>
                  <th>Marque</th>
                  <th>Catégorie</th>
                  <th  *ngIf="currentUser.role==Role.ADMIN">Bloquer</th>
                  <th>Action</th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let productInfo of products">
                 <input hidden  type="text" (change)="getImage(productInfo.images)">
                  <td >
                    &lt;!&ndash;<img height="100px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">&ndash;&gt;
                    <div *ngFor="let image of productInfo.images" >   <img height="100px" [src]="image"> </div>

                  </td>
                  <td>{{productInfo.name}}</td>
                  <td>{{productInfo.reference}}</td>
                  <td>{{productInfo.marque}}</td>
                  <td>{{productInfo.speciality.name}}</td>
                  <td  *ngIf="currentUser.role==Role.ADMIN" >{{productInfo.blocked}}</td>
                  <td>
                   &lt;!&ndash; <a [routerLink]="['dashboard/edit-product',productInfo.id]">Editer </a>&ndash;&gt;
                    <a style="display: block"  routerLink="dashboard/edit-product/{{productInfo.id}}">Editer</a>
                             &lt;!&ndash;         <a style="display: block" routerLink="/product/edit" > Editer
                                     </a>&ndash;&gt;
                    <a  *ngIf="currentUser.role == Role.PROVIDER" style="display: block" data-toggle="modal"
                        data-target="#exampleModal" >Modifier</a>
                    &lt;!&ndash;               <input hidden  type="text" productAdd=productInfo&ndash;&gt;>
                    <a *ngIf="currentUser.role == Role.PROVIDER" style="display: block"
                       (click)="remove(productInfo.id)" routerLink="./">Supprimer</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>-->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Liste des produits</h1>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <div class="panel panel-default">
              <div class="panel-heading">

              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                      <th>Numéro</th>
                      <th>Photo</th>
                      <th >Nom</th>
                      <th>Référence</th>
                      <th>Marque</th>
                      <th>Catégorie</th>
                      <th  *ngIf="currentUser.role==Role.ADMIN">Bloquer</th>
                      <th >Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                      <th>Numéro</th>
                      <th>Photo</th>
                      <th>Nom</th>
                      <th>Référence</th>
                      <th>Marque</th>
                      <th>Catégorie</th>
                      <th  *ngIf="currentUser.role==Role.ADMIN">Bloquer</th>
                      <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>   <tr *ngFor="let productInfo of productsimg ;let i= index ">
                      <td>{{i+1}}</td><td class="embed-responsive embed-responsive-16by9 ">
                          <img *ngIf="productInfo.pr_images[0]" class="embed-responsive-item "  [src]="productInfo?.pr_images[0]?.picByte">

                      </td>
                      <td>{{productInfo?.name}}</td>
                      <td>{{productInfo?.reference}}</td>
                      <td>{{productInfo?.marque}}</td>
                      <td>{{productInfo?.speciality.name}}</td>
                      <td *ngIf="currentUser.role == Role.ADMIN" ><button *ngIf="productInfo?.blocked===true" class="btn btn-success btn-sm" (click)="activprod(productInfo?.blocked,productInfo?.id)"
                                                                      data-toggle="modal"  data-target="#actionproModal">Activer</button>
                      <button  *ngIf="productInfo?.blocked===false"class="btn btn-danger btn-sm" (click)="desactiveprod(productInfo?.blocked,productInfo?.id)"
                                                                       data-toggle="modal"  data-target="#actionproModal">bloquer</button>
                      </td>

                      <td  class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                         <button name="options" id="option1" autocomplete="off" class="btn btn-outline-info "   [routerLink]="['/dashboard/edit-product',productInfo.id]">Editer </button>

                        <button  *ngIf="currentUser.role == Role.PROVIDER" name="options" id="option2" autocomplete="off" class="btn btn-outline-success "
                            [routerLink]="['/dashboard/update-product',productInfo.id]" >Modifier</button>
                        <!--               <input hidden  type="text" productAdd=productInfo-->
                        <button *ngIf="currentUser.role == Role.PROVIDER"  name="options" id="option3" autocomplete="off" class="btn btn-outline-danger "
                           (click)="removeid(productInfo?.id)" data-toggle="modal"  data-target="#removeModal" routerLink="./">Supprimer</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->

        </div>
</div>
      <app-pagination  [currentPage]="page" ></app-pagination>
      <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Supprimer produit</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Voulez-vous supprimer ce produit ?</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
              <a class="btn btn-outline-danger" routerLink="./" (click)="remove()">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="actionproModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampl">Activer/Désactiver</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Voulez-vous realiser cette action ?</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
              <a class="btn btn-outline-warning"  routerLink="./" (click)="actionpro()">Oui</a>
            </div>
          </div>
        </div>
      </div>

    <app-footer-dash></app-footer-dash>
</div>
</div>

</div>
<!-- /.row -->
<!--<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        DataTables Advanced Tables
      </div>
      &lt;!&ndash; /.panel-heading &ndash;&gt;
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Engine version</th>
              <th>CSS grade</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX">
              <td>Trident</td>
              <td>Internet Explorer 4.0</td>
              <td>Win 95+</td>
              <td class="center">4</td>
              <td class="center">X</td>
            </tr>
            <tr class="even gradeC">
              <td>Trident</td>
              <td>Internet Explorer 5.0</td>
              <td>Win 95+</td>
              <td class="center">5</td>
              <td class="center">C</td>
            </tr>
            <tr class="odd gradeA">
              <td>Trident</td>
              <td>Internet Explorer 5.5</td>
              <td>Win 95+</td>
              <td class="center">5.5</td>
              <td class="center">A</td>
            </tr>
            <tr class="even gradeA">
              <td>Trident</td>
              <td>Internet Explorer 6</td>
              <td>Win 98+</td>
              <td class="center">6</td>
              <td class="center">A</td>
            </tr>
            <tr class="odd gradeA">
              <td>Trident</td>
              <td>Internet Explorer 7</td>
              <td>Win XP SP2+</td>
              <td class="center">7</td>
              <td class="center">A</td>
            </tr>
            <tr class="even gradeA">
              <td>Trident</td>
              <td>AOL browser (AOL desktop)</td>
              <td>Win XP</td>
              <td class="center">6</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeU">
              <td>Other browsers</td>
              <td>All others</td>
              <td>-</td>
              <td class="center">-</td>
              <td class="center">U</td>
            </tr>
            </tbody>
          </table>
        </div>
        &lt;!&ndash; /.table-responsive &ndash;&gt;
        <div class="well">
          <h4>DataTables Usage Information</h4>
          <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
          <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
        </div>
      </div>
      &lt;!&ndash; /.panel-body &ndash;&gt;
    </div>
    &lt;!&ndash; /.panel &ndash;&gt;
  </div>
  &lt;!&ndash; /.col-lg-12 &ndash;&gt;
</div>-->
<!-- /.row -->


















     <!--
     <div class="modal" id="updatpdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel1">Ajouter produit</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <form #updatepdForm="ngForm" (ngSubmit)="uploadSubmit()"  >

             <div class="modal-body">

               <div class="form-group">
                 <label for="Name">Nom du produit *</label>
                 <input type="text" [(ngModel)]="productAdd.name" class="form-control" id="Name" name="name" placeholder="Enter le nom du produit" required #Name="ngModel" >
                 <div  *ngIf="Name.invalid && (Name.dirty ||Name.touched)">
                   <div *ngIf="Name.errors.required">Le nom est erroné.</div>
                   <div *ngIf="Name.errors.minlength">
                     Le nom doit comporter au moins 3 caractères.
                   </div>
                 </div>

               </div>
               <div class="form-group">
                 <label for="description">Description *</label>
                 <input pattern="[A-Za-z]*" type="text" [(ngModel)]="productAdd.description" class="form-control" id="description" name="description" placeholder="Enter la description" required #description="ngModel">
                 <div  *ngIf="description.invalid && (Name.dirty ||Name.touched)">
                   <div *ngIf="description.errors.required">
                     La description est erronée.
                   </div>
                   <div *ngIf="description.errors.minlength">
                     La description doit comporter au moins 3 caractères.
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <label for="reference">Référence *</label>
                 <input  type="text" [(ngModel)]="productAdd.reference" class="form-control" id="reference" name="reference" placeholder="Enter la référence" required #reference="ngModel">
                 <div  *ngIf="reference.invalid && (reference.dirty ||reference.touched)">
                   <div *ngIf="reference.errors.required">
                     La référence est erronée.
                   </div>
                   <div *ngIf="reference.errors.minlength">
                     La référence doit comporter au moins 3 caractères.
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <label for="marke">marque *</label>
                 <input  type="text" [(ngModel)]="productAdd.marque" class="form-control" id="marke" name="marke" placeholder="Enter la marque" required #marke="ngModel">
                 <div  *ngIf="marke.invalid && (marke.dirty ||marke.touched)">
                   <div *ngIf="marke.errors.required">
                     La marque est erronée.
                   </div>
                   <div *ngIf="reference.errors.minlength">
                     La référence doit comporter au moins 3 caractères.
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <label for="speciality">Catégorie *</label>
                 <select class="custom-select custom-select-lg " id="speciality" name="speciality"
                         [(ngModel)]="productAdd.speciality"
                         required>
                   <option  [ngValue]="null" disabled>Selectionner la catégorie</option>
                   <option *ngFor="let specialit of speciality" [ngValue]="specialit">{{specialit.name}}</option>

                 </select>
               </div>
               <div class="form-group">
                 <input  style="display:none" name="file"   type="file" accept=".pdf,.doc,.docx"   (change)="onFileChanged($event)" #fileInpu /><br/>
                 <button type="button" (click)="fileInpu.click()"  >upload file</button>
               </div>
               <div class="form-group">
                 <input  style="display:none" type="file"   name="imagee"  type="file" ng2FileSelect [(ngModel)]="productAdd.images"   [uploader]="uploader" #fileInput multiple/><br/>
                 <button type="button" (click)="fileInput.click()"  >upload images</button>
                 <br>
                 <div class="drop-zone">
                   <div ng2FileDrop [uploader]="uploader" class="drop-zone">
                     Drag and drop files to upload
                   </div>
                 </div>
                 <table>
                   <thead>
                   <tr>
                     <th width="90%">
                       File Name
                     </th>
                     <th width="10%">
                       Remove
                     </th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr *ngFor="let item of uploader.queue">
                     <th width="90%">
                       (NaN MB)
                     </th>
                     <th class="text-center" width="10%">
                       <mat-icon (click)="item.remove()">delete</mat-icon>
                     </th>
                   </tr>
                   </tbody>
                 </table>
               </div>
               &lt;!&ndash;        <img [src]="imgURL" height="200" *ngIf="imgURL">&ndash;&gt;
               &lt;!&ndash;  <div class="form-group">
                     <label for="image">Images</label>
                     <input type="file" [(ngModel)]="productAdd.images"
                            class="form-control"
                            id="image"
                            name="image"
                            placeholder="Choisir les images "
                            required #image="ngModel"
                            accept="image/*"
                            (change)="onFileChanged($event)" multiple>
                     <div [hidden]="!image.pristine" class="alert alert-danger">L'image est obligatoire !!</div>
                   </div>&ndash;&gt;
             </div>

             <div class="modal-footer">
               <button type="button" class="btn btn-lg btn-danger " data-dismiss="modal" >Annuler</button>
               <button type="submit" class="btn btn-success btn-lg" [disabled]="!updatepdForm.form.valid"  >Enregistrer</button>
             </div>
           </form>

         </div>
       </div>
     </div>
     -->
