<app-header></app-header>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a [routerLink]="['/home']">Accueil<i class="ti-arrow-right"></i></a></li>
            <li class="active"><a [routerLink]="['/contact']">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Entrer en contact</h4>
              <h3>Écrivez-Nous Un Message</h3>
            </div>
            <form class="form"  #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>votre nom<span>*</span></label>
                    <input [(ngModel)]="contact.name"  name="name" type="text" placeholder="votre nom">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Vos sujets<span>*</span></label>
                    <input [(ngModel)]="contact.objet" name="subject" type="text" placeholder="Vos sujets">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Votre email<span>*</span></label>
                    <input  [(ngModel)]="contact.email" name="email" type="email" placeholder="Votre email">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Votre téléphone<span>*</span></label>
                    <input  [(ngModel)]="contact.phone" name="company_name" type="text" placeholder="Votre téléphone">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group message">
                    <label>Votre message<span>*</span></label>
                    <textarea  [(ngModel)]="contact.message" name="message" placeholder="votre message*"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn "  [disabled]="!form.form.valid" >Envoyer le message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+123 456-789-1120</li>
                <li>+522 672-452-1120</li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
                <li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Contact -->

<app-footer></app-footer>
<!-- Map Section -->
<!--<div class="map-section">
  <div id="myMap"></div>
</div>-->

